<form  #frmval="ngForm" name="myform" class="form" (ngSubmit)="updateAccount(frmval.value)">

    <label for="">Enter ID</label>
    <input type="text" name="empid" id=""  #empid="ngModel" class="form-control" ngModel [ngModel]="empObj?.empid" >
    
    <div class="form-group">
        <label for="">Enter Name:</label>
        <input type="text" name="name" #name="ngModel" class="form-control" pattern="^[a-zA-Z ]{3,30}$" ngModel
            required placeholder="Enter Full Name" [ngModel]="empObj?.name">
        <div *ngIf="name.touched && name.invalid">
            <div class="alert alert-danger" *ngIf="name.hasError('required')">This field is required.</div>
            <div class="alert alert-danger" *ngIf="name.hasError('pattern')">Name field should contain only characters.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="">Enter Email:</label>
        <input type="text" name="email" #email="ngModel" class="form-control" pattern="^[a-z0-9._%+-]+@([a-z0-9.-]{5})+\.[a-z]{2,4}$" ngModel
            required placeholder="Enter  email" [ngModel]="empObj?.email">
        <div *ngIf="email.touched && email.invalid">
            <div class="alert alert-danger" *ngIf="email.hasError('required')">This field is required.</div>
            <div class="alert alert-danger" *ngIf="email.hasError('pattern')">email field should contain only characters.
            </div>
        </div>
    </div>
  

    

    
    <div class="form-group">
        <label for="">Enter Phone Number:</label>
        <input type="text" name="phonenum" #phonenum="ngModel" class="form-control" pattern="[0-9]{10}" ngModel
            required placeholder="Enter phonenum" [ngModel]="empObj?.phonenum">
        <div *ngIf="phonenum.touched && phonenum.invalid">
            <div class="alert alert-danger" *ngIf="phonenum.hasError('required')">This field is required.</div>
            <div class="alert alert-danger" *ngIf="phonenum.hasError('pattern')">This field should contain only Numbers and length should be 6.
            </div>
        </div>
    </div>
    
    <br><br>
        
    <div class="form-group">
        <label for="">Enter Designation:</label>
        <input type="text" name="designation" #designation="ngModel" class="form-control" pattern="^[a-zA-Z ]{2,30}$" ngModel
            required placeholder="Enter designation" [ngModel]="empObj?.designation">
        <div *ngIf="designation.touched && designation.invalid">
            <div class="alert alert-danger" *ngIf="designation.hasError('required')">This field is required.</div>
            <div class="alert alert-danger" *ngIf="designation.hasError('pattern')">designation field should contain only characters.
            </div>
        </div>
    </div>
    
    <label for="">Select  Gender</label> &nbsp;
    
    <label>
        <input type="radio" name="gender" value="M" #type="ngModel"  ngModel required [ngModel]="empObj?.gender"> Male
    </label> &nbsp;
     <label>
    
        <input type="radio" name="gender" value="F" #type="ngModel"  ngModel required [ngModel]="empObj?.gender">Female 
    </label><br><br>

    <div class="form-group">
        <label for="">Enter Age:</label>
        <input type="text" name="age" #age="ngModel" class="form-control" pattern="[0-9]{2,3}" ngModel
            required placeholder="Enter age" [ngModel]="empObj?.age">
        <div *ngIf="age.touched && age.invalid">
            <div class="alert alert-danger" *ngIf="age.hasError('required')">This field is required.</div>
            <div class="alert alert-danger" *ngIf="age.hasError('pattern')">This field should contain only Numbers and length should be 6.
            </div>
        </div>
    </div>

    
    
    <br><br>
    <button type="submit" class="btn btn-primary" [disabled]="frmval.invalid" >submit</button>&nbsp;
    
    <button type="submit" class="btn btn-warning" [routerLink]="['/admin/dash']">Back</button>
    <br><br><br>
    </form>
