
<br><br>
<div class="container">
    
<div style=" border-style: inset; width: 400px; height: 200px; align-content: center; margin-left: 350px;
        border-radius: 10px; background-color: cornsilk; border-width: 5px; border-color: rgb(202, 118, 202);">
    <br>
    <form action="" style="margin-left: 10px;" method="POST">
        <label for="" >Enter Employee ID : </label>
        <input type="text" name="empid" [(ngModel)]="empid" ><br>
        <label for=""><br>Enter  password : </label>
        <input type="password" name="upass"  [(ngModel)]="upass"><br><br>
        <button type="submit" class="btn btn-success" (click)="checkData()" style="margin-left: 160px;" >Login</button>
    </form>
</div>

</div> 